<h1>Comedians By Age</h1>

<% @comedians.each do |comedian| %>
<ul>
  <li><%= comedian.name %></li>
</ul>
<ul id="age-<%= comedian.id %>">
  <li>Age <%= link_to comedian.age, comedian_age_path(comedian.age) %></li>
</ul>
<ul>
  <li>Born in <%= comedian.birthplace %></li>
  <li><img class="img-thumbnail" src="<%= comedian.image_url %>"</li>
</ul>
<% comedian.specials.each do |special| %>
<ul>
  <%= special.name %>
  <%= special.runtime_mins %>
  <img class="img-thumbnail" src="<%= special.image_url %>" alt='comedian'>
</ul>
<% end %>
<% end %>
