<h1>Index page</h1>
<nav>
  <li><%= link_to "Add a Comedian", new_comedian_path %></li>
  <li id="sort-by-name-asc"><%= link_to "Sort by name, alphabetically", comedians_path({name: :asc}) %></li>
  <li id="sort-by-name-desc"><%= link_to "Sort by name, reverse alphabetically", comedians_path({name: :desc}) %></li>
  <li id="sort-by-city-asc"><%= link_to "Sort by birthplace, alphabetically", comedians_path({birthplace: :asc}) %></li>
  <li id="sort-by-city-desc"><%= link_to "Sort by birthplace, reverse alphabetically", comedians_path({birthplace: :desc}) %></li>
  <li id="sort-by-age-asc"><%= link_to "Youngest First", comedians_path({ages: :asc}) %></li>
  <li id="sort-by-age-desc"><%= link_to "Oldest First", comedians_path({ages: :desc}) %></li>
  <% @comedians.available_ages.uniq.each do |age| %>
  <li id="filter-age-<%= age %>"><%= link_to age, comedians_path({age: "#{age}"}) %></li>
  <% end %>
  <li id="back-to-all"><%= link_to "Reset Filters", comedians_path %></li>
</nav>
<section>
  <div id="comedian-stats">
    <h2>Comedian Statistics</h2>
      <p>Average Comedian Age: <%= @comedians.average_age.round %></p>
      <p>Birthplace Ranges</p>
      <% @comedians.birthplaces.uniq.each do |city| %>
      <li><%= city %></li>
      <% end %>
  </div>
  <div id="special-stats">
    <h3>Special Statistics</h3>
      <li>Total specials <%= @comedians.total_specials %></li>
      <li>Average special length: <%= @comedians.average_special_length.to_i %> mins</li>
  </div>
</section>

<% @comedians.each do |comedian| %>
<section>
  <div class="comedians">
    <h4 id="comedian-<%= comedian.id %>"><%= link_to comedian.name, comedian_path(comedian) %></h4>
      <li>Age <%= comedian.age %></li>
      <li>Born in <%= comedian.birthplace %></li>
      <li><img class="img-thumbnail" src="<%= comedian.image_url %>"</li>
      <li id="specials-<%= comedian.id %>">Special count: <%= comedian.special_count %></li>
  </div>
  <% comedian.specials.each do |special| %>
  <div>
    <h5>Special Information</h5>
    <li><%= special.name %></li>
    <li><%= special.runtime_mins %></li>
    <img class="img-thumbnail" src="<%= special.image_url %>" alt='comedian'>
  </div>
  <% end %>
</section>
<% end %>
