<h1>Welcome to the Center of the Comedian Universe</h1>
<br>
<img src="https://media0.giphy.com/media/YkXNjAkG7CfEVx3gcy/giphy.gif" alt="Spinning Globe">
<br>
<ul>
  <li><a href="/comedians">Comedian Index</a></li>
  <li><a href="/comedians/age?=:Age">Comedian Age Check</a></li>
  <li><a href="/comedians/new">New Comedian</a></li>
</ul>




<% @comedians.each do |comedian| %>
<section id="comedian-<%=comedian.id%>">
  <br>
  <%# require 'pry'; binding.pry %>
    <h2><%= comedian.name %></h2>
    <p><%= comedian.age %></p>
    <p><%= comedian.birthplace %></p>

    <% comedian.specials.each do |special|  %>

    <p><%= special.name %></p>
    <p><%= special.runtime_mins %></p>
    <% end %>
  <% end %>
</section>
