<ul>
  <% @comedians.each do |comedian| %>
    <li><%= comedian.name %></li>
    <li>Age: <%= comedian.age %></li>
    <li>Hometown: <%= comedian.city %></li>
    <li><img id="comedian_<%= comedian.id %>_thumbnail" src="<%= comedian.image %>" alt="Picture of <%= comedian.name %>"></li>
    <li>Total specials: <%= comedian.specials_count %></li>
    <% comedian.specials.each do |special| %>
      <li><%= special.name %> - By <%= comedian.name %></li>
      <li>Runtime: <%= special.time %></li>
    <% end %>
  <% end %>
</ul>
<ul>
  <li>Average age: <%= @comedians.first.average_age(params[:age]).round(1) %></li>
  <li>All hometowns: <% @comedians.first.get_hometowns(params[:age]).each do |comedian| %>
  <%= comedian.city %>,
  <% end %></li>
</ul>
