<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand">Laugh Tracks</h1>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Add a Comedian", new_comedian_path, {class: "nav-link"} %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort and Filter
        </a>
        <div class="dropdown-menu" id="sort-filter" aria-labelledby="navbarDropdown">
          <%= link_to "Sort by name, alphabetically", comedians_path({name: :asc}), { class: "dropdown-item", id: "sort-by-name-asc" } %>
          <%= link_to "Sort by name, reverse alphabetically", comedians_path({name: :desc}), { class: "dropdown-item", id: "sort-by-name-desc" } %>
          <%= link_to "Sort by birthplace, alphabetically", comedians_path({birthplace: :asc}), { class: "dropdown-item", id: "sort-by-city-asc" } %>
          <%= link_to "Sort by birthplace, reverse alphabetically", comedians_path({birthplace: :desc}), { class: "dropdown-item", id: "sort-by-city-desc" }%>
          <%= link_to "Youngest First", comedians_path({ages: :asc}), { class: "dropdown-item", id: "sort-by-age-asc" } %>
          <%= link_to "Oldest First", comedians_path({ages: :desc}), { class: "dropdown-item", id: "sort-by-age-desc" } %>
          <%= link_to "Reset Filters", comedians_path, { class: "dropdown-item", id: "back-to-all" } %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter by age
        </a>
        <div class="dropdown-menu" id="filter-age" aria-labelledby="navbarDropdown">
          <% @comedians.available_ages.uniq.each do |age| %>
          <%= link_to age, comedians_path({age: "#{age}"}), { class: "dropdown-item" } %>
          <% end %>
          <%= link_to "Reset Filters", comedians_path, { class: "dropdown-item", id: "back-to-all" } %>
        </div>
      </li>
      <li class="nav-item dropdown" id="comedian-stats">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Comedian Statistics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p class="dropdown-item" >Average Comedian Age: <%= @comedians.average_age.round %></p>
          <p class="dropdown-item" >Birthplace Ranges</p>
          <% @comedians.birthplaces.uniq.each do |city| %>
          <p class="dropdown-item" ><%= city %></p>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Special Statistics
        </a>
        <div class="dropdown-menu" id="special-stats" aria-labelledby="navbarDropdown">
          <p class="dropdown-item" >Total specials <%= @comedians.total_specials %></p>
          <p class="dropdown-item" >Average special length: <%= @comedians.average_special_length.to_i %> mins</p>
        </div>
      </li>
  </div>
</nav>

<div class="container">
<% @comedians.each do |comedian| %>
<div class="book-card">
  <div class="comedians">
  <div class="grid-item">
    <h2 class="book-title" id="comedian-<%= comedian.id %>"><%= link_to comedian.name, comedian_path(comedian) %></h2>
    <img class="img-thumbnail" src="<%= comedian.image_url %>">
      <p class="text">Age <%= comedian.age %></p>
      <p class="text">Born in <%= comedian.birthplace %></p>
      <p class="text"id="specials-<%= comedian.id %>">Special count: <%= comedian.special_count %></p>
      <h4 class="title">Special Information</h4>
      <% comedian.specials.each do |special| %>
      <p class="text"><%= special.name %></p>
      <p class="text"><%= special.runtime_mins %> mins</p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
</div>
