<h1>Comedians</h1>

<div id="statistics">
<h2>Statistics</h2>
  <p>Comedians are from: <% @comedians.each do |comedian|  %>
  <p><%= comedian.city %></p>
  <% end %>
  <p>Average Age: <%= Comedian.average_age.round(2) %> </p>
</div>

<h2>The Comedians</h2>
<% @comedians.each do |comedian| %>
<section id="comedian-<%= comedian.id %>">
  <p>Name: <%= comedian.name %></p>
  <p>Age: <%= comedian.age %></p>
  <p>City: <%= comedian.city %></p>
  <img src=<%= comedian.image %> ><br>
  <p>Number of Specials: <%= comedian.specials.count %></p>

  <% comedian.specials.each do |special| %>
  <p><%= special.name %>, Runtime: <%= special.runtime_mins %> mins</p>


  <% end %>
  </section>
<% end %>
