<h1> All Comedians </h1>
  <% @comedians.each do |comedian|%>
    <section id="<%=comedian.id%>" >
      <h2><%= comedian.name %></h2>
        <img class='comedian image' src="<%= comedian.image_url %>" alt=<%= comedian.name %> >
        <p>Age: <%= comedian.age %> Birthplace: <%=comedian.birthplace %> </p>
      <h3> Specials </h3>
          <span><ul><% comedian.specials.each do |special| %>
            <li><%= special.name %>
            RunTime: <%= special.runtime_mins %></li>
            <% end  %>
          </ul></span>
     </section>
  <% end %>
