<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Funny People</title>

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Comedians</h1>
          <h3>Statistics</h3>
        <p>Average Age of Comedians: <%= @average_age %><p>
          <p>Cities: <%= @cities %><p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3"><section id="comedians">
        <% @comedians.each do |comedian| %>
          <div id="comedian-<%= comedian.id %>">
            <h1> <%= comedian.name %> </h1>
            <img class="comedian_img" src="<%=comedian.img_url%>"> </img>
            <p>
              Age: <%= comedian.age %>
              Home: <%= comedian.city %>
            </p>

            <h3 class="specials">Specials</h3>
                <p>Number of specials: <%= comedian.specials.count %></p>
                <% comedian.specials.each do |special| %>
                  <p>"<%= special.name %>"     Runtime <%= special.run_time %> mins</p>
                <% end %>
          </div>
        <% end %>
      </section></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
