<h1>List of Comedians</h1>
<% @comedians.each do |comedian| %>
  <h2 class="comedian"><%= comedian.name %></h2>
  <img src="<%= comedian.imageurl %>">
  <p>
    Age: <%= comedian.age %> <br/>
    City: <%= comedian.city %>
  </p>
  <strong>Televison Specials: <%= comedian.televisionspecials.count %></strong>
  <ul>
    <% comedian.televisionspecials.each do |special| %>
    <li><%= special.name %>, <%= special.runtime %></li>
    <% end %>
  </ul>
  <hr>
<% end %>