<h1>Comedians</h1>

<section id="comedians">
  <% @comedians.each do |comedian| %>
    <div class="comedian-<%= comedian.id %>">
      <h1> <%= comedian.name %> </h1>
      <img class="comedian_img" src="<%=comedian.img_url%>"> </img>
      <p>
        Age: <%= comedian.age %>
        Home: <%= comedian.city %>
      </p>

      <h3 class="specials">Specials</h3>
          <% comedian.specials.each do |special| %>
            <p><%= special.name %></p>
            <p>     Runtime <%= special.run_time %> mins</p>
          <% end %>
    </div>

  <% end %>
</section>
