<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Laugh Tracks</title>
  </head>
  <body>
    <ul>
      <% @comedians.each do |comedian| %>
      <li><%= comedian.name %></li>
      <li><%= comedian.age %></li>
      <li><%= comedian.city %></li>
      <% end %>
    </ul>
    <ul>
      <% @specials.each do |special| %>
      <li><%= special.name %></li>
      <li><%= special.time %></li>
      <% end %>
    </ul>
  </body>
</html>
