<h1>List of Comedians</h1>
<% @comedians.each do |comedian| %>
  <h2 class="comedian"><%= comedian.name %></h2>
  <img src="<%= comedian.imageurl %>">
  <p>
    Age: <%= comedian.age %> <br/>
    City: <%= comedian.city %>
  </p>
  <strong>Televison Specials:</strong>
  <ul>
    <% @specials.each do |special| %>
      <% if special.comedianid == comedian.id%>
        <li><%= special.name %>, <%= special.runtime %></li>
      <% end %>
    <% end %>
  </ul>
  <hr>
<% end %>