<p id="notice"><%= notice %></p>

<h1>Comedians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comedians.each do |comedian| %>
      <tr>
        <td><%= comedian.name %></td>
        <td><%= comedian.age %></td>
        <td><%= comedian.city %></td>
        <td><%= @specials..select{|special|special.comedian_id == comedian.name} %></td>
        <td><%= link_to 'Show', comedian %></td>
        <td><%= link_to 'Edit', edit_comedian_path(comedian) %></td>
        <td><%= link_to 'Destroy', comedian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comedian', new_comedian_path %>
