<%= form_for @comedian do |f| %>
  <h1>New Comedian</h1>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <br>
  <%= f.submit %>
<% end %>
